<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Expires</key>
	<string>2007-05-19 12:00:00 -0000</string>
	<key>Product</key>
	<string>FLVR</string>
	<key>Signature</key>
	<data>
	V7EixGMj0Yye3n/uUPncRrDQn5rpShnDUXWIvf6YKqWYms1s338DSM05y37vYMKNRlpl
	/aT3TUYzNp9W3LWn104XNIqx/XhRmKgdK6ZG+u3Dbol+xCqUzebHdNAKpzXN5x/1tBum
	yf/i++hL7b25MvbOJS1B6raNsORG9Hx+ldg=
	</data>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
