<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Expires</key>
	<string>2007-05-18 12:00:00 -0000</string>
	<key>Product</key>
	<string>FLVR</string>
	<key>Signature</key>
	<data>
	OoL2DSXtyUDehhfU8Mkgru7YDHo23JKKoejWjGAzhiEiqQ07VwZegdEJ2bVUM+Oaskkm
	5Y/pTBTiwwcgbaVuKkxker8LTPFrRDNbSDW5pkDkJHo1sa/hh+YW7DwIw7LYMbe30w6f
	ti7V3WnooJuHJ92vBSdfhWRVPW8GT3LM6E8=
	</data>
	<key>Version</key>
	<string>0.9 BETA</string>
</dict>
</plist>
